// TrendColors 2009 - Fall | https://github.com/atelierbram/trend-colors/docs/assets/sass/schemes/_trendColors_2009-fall.scss
{% import "macros/macro-sass.njk" as macroSass %}
{%- for sass in tiles_2009_fall -%}
  {{ macroSass.sassMacro(sass.tile_id, sass.tile_hex) }}
{%- endfor -%}

