function highlightOriginalValue(){"use strict";var a=document.querySelector.bind(document),b=document.querySelectorAll.bind(document),c=b(".pantone-original"),d=a("#masterPalette"),e=document.createElement("button");e.setAttribute("class","button button-toggle"),e.innerHTML="highlight original Pantone color-values",d.insertBefore(e,d.firstChild),e.addEventListener("click",function(){for(var a=0;a<c.length;a++)c[a].classList.toggle("is-highlighted")})}highlightOriginalValue();