{% if page_type == "extendedColorscheme" %}<span class="output" id="output">color-variable</span>{% endif %}<h1 class="site-title">TrendColors - <span class="site-title_year site-title_year-{{ page_title }}">{{ page_title }}</span></h1><p class="tagline">Create your own colorscheme from a decade of trend colors</p>
