// TrendColors 2007 - Fall | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2007-fall.scss
$carafe: #5d473a;
$burnt-ochre: #bb4f35;
$chili-pepper: #9b1b30;
$stargazer: #39505c;
$shale-green: #739072;
$dusk: #897f98;
$green-moss: #857946;
$lemon-curry: #cda323;
$cashmere-rose: #ce879f;
$purple-wine: #8c3573;
