// TrendColors 2016 - Spring | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2016-spring.scss
$rose-quartz: #f7cac9;
$peach-echo: #f7786b;
$serenity: #91a8d0;
$snorkel-blue: #034f84;
$buttercup: #fae03c;
$limpet-shell: #98ddde;
$lilac-gray: #9896a4;
$fiesta: #dd4132;
$iced-coffee: #b18f6a;
$green-flash: #79c753;
