// TrendColors 2012 - Fall | https://github.com/atelierbram/trend-colors/docs/assets/sass/schemes/_trendColors_2012-fall.scss
$french-roast: #58423f;
$honey-gold: #d1a054;
$pink-flambe: #d3507a;
$tangerine-tango: #dd4124;
$ultramarine-green: #006b54;
$bright-chartreuse: #b5bf50;
$olympian-blue: #1a4c8b;
$titanium: #807d7f;
$rhapsody: #9f86aa;
$rose-smoke: #d3b4ad;
$rhubarb: #77202f;
$sea-fog: #a5929d;
$whitecap-gray: #e0d5c6;
