// TrendColors 2017 - Fall | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2017-fall.scss
$grenadine: #df3f32;
$tawny-port: #5c2c35;
$ballet-slipper: #ebced5;
$butterum: #c68f65;
$navy-peony: #223a5e;
$neutral-gray: #8e918f;
$shaded-spruce: #00585e;
$golden-lime: #9a9738;
$marina: #4f84c4;
$autumn-maple: #c46215;
