// TrendColors 2014 - Spring | https://github.com/atelierbram/trend-colors/docs/assets/sass/schemes/_trendColors_2014-spring.scss
$placid-blue: #8cadd3;
$violet-tulip: #9e91c3;
$hemlock: #97c1a1;
$paloma: #9f9c99;
$sand: #cca67f;
$freesia: #f3c12c;
$cayenne: #e04951;
$celosia-orange: #e8703a;
$radiant-orchid: #ad5e99;
$dazzling-blue: #3850a0;
$purple-haze: #807396;
$comfrey: #5b7961;
$magenta-purple: #6b264b;
