// TrendColors 2019 - Fall | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2019-fall.scss
$cranberry: #bb4a4d;
$merlot: #72262c;
$summer-fig: #be4b3b;
$crabapple: #d77e70;
$chicory-coffee: #4a342e;
$bluestone: #577284;
$galaxy-blue: #2a4b7c;
$antique-moss: #b9a023;
$forest-biome: #184a45;
$hazel: #ae7250;
$butterscotch: #e19640;
$grapeade: #85677b;
$rutabaga: #ecddbe;
$green-olive: #8d8b55;
$evening-blue: #2a293e;
$frost-gray: #848283;
