// TrendColors 2011 - Fall | https://github.com/atelierbram/trend-colors/docs/assets/sass/schemes/_trendColors_2011-fall.scss
$bamboo: #d2b04c;
$emberglow: #ea6759;
$honeysuckle: #d94f70;
$phlox: #692d5d;
$cedar: #928e64;
$deep-teal: #18454b;
$coffee-liqueur: #6a513b;
$nougat: #b69885;
$orchid-hush: #cec3d2;
$quarry: #98a0a5;
