// TrendColors 2008 - Spring | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2008-spring.scss
$golden-olive: #af9841;
$spring-crocus: #ba69a1;
$rococco-red: #bb363f;
$pink-mist: #e6bccd;
$croissant: #c4ab86;
$freesia: #f3c12c;
$cantaloupe: #ffa177;
$daiquiri-green: #c9d77e;
$snorkel-blue: #034f84;
$silver-gray: #c1b7b0;
