// TrendColors 2013 - Fall | https://github.com/atelierbram/trend-colors/docs/assets/sass/schemes/_trendColors_2013-fall.scss
$emerald: #009473;
$mykonos-blue: #005780;
$linden-green: #c4bf71;
$acai: #46295a;
$samba: #a2242f;
$koi: #d15837;
$deep-lichen-green: #6e6e5c;
$vivacious: #a32857;
$turbulence: #4e545b;
$carafe: #5d473a;
$beaujolais: #80304c;
