// TrendColors 2016 - Fall | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2016-fall.scss
$riverside: #4c6a92;
$airy-blue: #92b6d5;
$sharkskin: #838487;
$aurora-red: #b93a32;
$warm-taupe: #af9483;
$dusty-cedar: #ad5d5d;
$lush-meadow: #006e51;
$spicy-mustard: #d8ae47;
$potters-clay: #9e4624;
$bodacious: #b76ba3;
