// TrendColors 2015 - Spring | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2015-spring.scss
$aquamarine: #9dc3d4;
$scuba-blue: #00abc0;
$beveled-glass: #7accb8;
$classic-blue: #0f4c81;
$toasted-almond: #d2b49c;
$strawberry-ice: #e78b90;
$tangerine: #f88f58;
$custard: #e5d68e;
$marsala: #964f4c;
$glacier-gray: #c5c6c7;
$dusk-blue: #7ba0c0;
$treetop: #476a30;
$woodbine: #7b7f32;
$sandstone: #c48a69;
