// TrendColors 2008 - Fall | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2008-fall.scss
$blue-iris: #5a5b9f;
$royal-lilac: #774d8e;
$shady-glade: #006e5b;
$caribbean-sea: #00819d;
$aurora-red: #b93a32;
$shitake: #736253;
$withered-rose: #a26666;
$twilight-blue: #313d64;
$burnt-orange: #c86733;
$ochre: #d6af66;
