// TrendColors 2011 - Spring | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2011-spring.scss
$honeysuckle: #d94f70;
$russet: #8f5f50;
$coral-rose: #f3774d;
$regatta: #487ab7;
$peapod: #82b185;
$blue-curacao: #32becc;
$beeswax: #eba851;
$lavender: #afa4ce;
$silver-peony: #e7cfc7;
$silver-cloud: #beb7b0;
