// TrendColors 2019 - Spring | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2019-spring.scss
$fiesta: #dd4132;
$jester-red: #9e1030;
$turmeric: #fe840e;
$living-coral: #ff6f61;
$pink-peacock: #c62168;
$pepper-stem: #8d9440;
$aspen-gold: #ffd662;
$princess-blue: #00539c;
$toffee: #755139;
$mango-mojito: #d69c2f;
$terrarium-moss: #616247;
$sweet-lilac: #e8b5ce;
$soybean: #d2c29d;
$eclipse: #343148;
$sweet-corn: #f2edd7;
$brown-granite: #615550;
