// TrendColors 2007 - Spring | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2007-spring.scss
$silver-peony: #e7cfc7;
$tarragon: #a4ae77;
$opal-gray: #a49e9e;
$golden-apricot: #dda758;
$hollyhock: #823270;
$green-sheen: #d9ce52;
$grapemist: #8398ca;
$cafe-creme: #c79685;
$strawberry-ice: #e78b90;
$sky-blue: #8abad3;
