// TrendColors 2018 - Fall | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2018-fall.scss
$red-pear: #7b3539;
$valiant-poppy: #bc322c;
$nebulas-blue: #2d62a3;
$ceylon-yellow: #d4ae40;
$martini-olive: #716a4d;
$russet-orange: #e47127;
$ultra-violet: #5f4b8b;
$crocus-petal: #b99bc5;
$limelight: #f0e87d;
$quetzal-green: #006865;
