// TrendColors 2014 - Fall | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2014-fall.scss
$radiant-orchid: #ad5e99;
$royal-blue: #3d428b;
$aluminum: #9f9586;
$aurora-red: #b93a32;
$misted-yellow: #dab965;
$sangria: #982551;
$mauve-mist: #c49bd4;
$cognac: #8b645a;
$bright-cobalt: #385d8d;
$cypress: #545a3e;
$sea-fog: #a5929d;
