// TrendColors 2010 - Fall | https://github.com/atelierbram/trend-colors/docs/assets/sass/schemes/_trendColors_2010-fall.scss
$endive: #d2cc81;
$golden-glow: #d99938;
$living-coral: #ff6f61;
$lipstick-red: #b31a38;
$purple-orchid: #ad4d8c;
$chocolate-truffle: #612e35;
$lagoon: #4d9e9a;
$woodbine: #7b7f32;
$oyster-gray: #cbc1ae;
$rose-dust: #cdb2a5;
