// TrendColors 2010 - Spring | https://github.com/atelierbram/trend-colors/docs/assets/sass/schemes/_trendColors_2010-spring.scss
$turquoise: #45b5aa;
$tomato-puree: #c53346;
$fusion-coral: #ff8576;
$violet: #c17fb5;
$tuscany: #be9785;
$aurora: #eddd59;
$amparo-blue: #4960a8;
$pink-champagne: #f0d8cc;
$dried-herb: #847a59;
$eucalyptus: #b1a992;
