// TrendColors 2012 - Spring | https://github.com/atelierbram/trend-colors/docs/assets/sass/schemes/_trendColors_2012-spring.scss
$tangerine-tango: #dd4124;
$solar-power: #f4bf3a;
$bellflower: #9469a2;
$cabaret: #cb3373;
$sodalite-blue: #253668;
$margarita: #b5c38e;
$sweet-lilac: #e8b5ce;
$cockatoo: #58c8b6;
$driftwood: #847a75;
$starfish: #b09a77;
$dazzling-blue: #3850a0;
$vintage-khaki: #9a9186;
$granita: #a52350;
$hawaiian-ocean: #008db9;
$tradewinds: #7f8793;
$grass-green: #7bb369;
