// TrendColors 2015 - Fall | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2015-fall.scss
$dried-herb: #847a59;
$desert-sage: #a7ae9e;
$stormy-weather: #58646d;
$oak-buff: #cf9c63;
$marsala: #964f4c;
$biscay-bay: #097988;
$reflecting-pond: #203e4a;
$cadmium-orange: #f99471;
$cashmere-rose: #ce879f;
$amethyst-orchid: #926aa6;
