// TrendColors 2017 - Spring | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2017-spring.scss
$primrose-yellow: #f6d155;
$pale-dogwood: #edcdc2;
$hazelnut: #cfb095;
$island-paradise: #95dee3;
$greenery: #88b04b;
$flame: #f2552c;
$pink-yarrow: #ce3175;
$niagara: #5487a4;
$kale: #5a7247;
$lapis-blue: #004b8d;
