// TrendColors 2009 - Fall | https://github.com/atelierbram/trend-colors/blob/master/docs/assets/sass/schemes/_trendColors_2009-fall.scss
$american-beauty: #a73340;
$purple-heart: #745587;
$honey-yellow: #ca9456;
$iron: #736460;
$burnt-sienna: #c65d52;
$nomad: #b49f89;
$rapture-rose: #d16277;
$warm-olive: #c7b63c;
$majolica-blue: #274357;
$creme-brulee: #dbccb5;
