{% extends "layouts/layout.njk" %}

{% set base_path = "../" %}
{% set page_title = "2011" %}
{% set page_type = "page" %}
{% set body_classes = "year-2011" %}
{% set main_header_classes = "header-2011" %}
{% set color_season_spring_2011 = "#d94f70" %}
{% set color_season_fall_2011 = "#692d5d" %}

{% import "macros/macro-tile.njk" as macroTile %}
{% import "macros/macro-modal.njk" as macroModal %}

{% block main %}
  {{ super() }}
  <section class="tiles-section">

    <div class="tiles-wrap tiles-wrap-spring" style="background-color:{{ color_season_spring_2011 }}">
      <header class="section-header-season"><h2>Spring</h2></header>
      <ul class="tiles tiles-spring">
        {% for tile in tiles_2011_spring %}
        {{ macroTile.tileMacro(tile.tile_name, tile.tile_hex, tile.tile_id) }}
        {% endfor %}
      </ul>
      <a id="buttonDownloadSpringVars" class="button button-download" href="https://raw.githubusercontent.com/atelierbram/trend-colors/master/docs/assets/sass/schemes/_trendColors_2011-spring.scss">Variables - Spring 2011</a>
    </div>

    <div class="tiles-wrap tiles-wrap-fall" style="background-color:{{ color_season_fall_2011 }}">
      <a id="buttonDownloadFallVars" class="button button-download" href="https://raw.githubusercontent.com/atelierbram/trend-colors/master/docs/assets/sass/schemes/_trendColors_2011-fall.scss">Variables - Fall 2011</a>
      <header class="section-header-season"><h2>Fall</h2></header>
      <ul class="tiles tiles-fall">
        {% for tile in tiles_2011_fall %}
        {{ macroTile.tileMacro(tile.tile_name, tile.tile_hex, tile.tile_id) }}
        {% endfor %}
      </ul>
    </div>

  </section>

  <section class="modals-section">
    <h2>Info Spring</h2>

    <ul class="modals modals-spring">
      {% for modal in tiles_2011_spring %}
      {{ macroModal.modalMacro(modal.tile_id, modal.tile_name, modal.tile_hex, modal.tile_number) }}
      {% endfor %}
    </ul>

    <h2>Info Fall</h2>

    <ul class="modals modals-fall">
      {% for modal in tiles_2011_fall %}
      {{ macroModal.modalMacro(modal.tile_id, modal.tile_name, modal.tile_hex, modal.tile_number) }}
      {% endfor %}
    </ul>

  </section>

  {% endblock %}
