button:invalid,
a.button:invalid {
  box-shadow: none;
}

button:focus,
a.button:focus {
  box-shadow: #06f 0 0 5px 0;
  z-index: 1;
}

div[class*="button"] a,
a[class*="button"],
[class*="button-"],
button,
input[type="button"] {
  -webkit-appearance: none;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: .4em 1em .45em;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #ebebeb;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.125em;
  line-height: 1.3;
  font-weight: 400;
}

div[class*="button"] a:hover,
a[class*="button"]:hover,
[class*="button-"]:hover,
button:hover,
input[type="button"]:hover {
  background-color: rgba(31, 31, 31, 0.85);
  text-decoration: none;
}

div[class*="button"] a:active,
a[class*="button"]:active,
[class*="button-"]:active,
button:active,
input[type="button"]:active {
  color: #fff;
  background-color: rgba(31, 31, 31, 0.8);
}

div[class*="button"] a::-moz-focus-inner,
a[class*="button"]::-moz-focus-inner,
[class*="button-"]::-moz-focus-inner,
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button svg {
  pointer-events: none;
}

button[disabled],
a.button_disabled {
  box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #969696;
  cursor: default;
}

.tiles-section .button {
  position: absolute;
  right: 3em;
}

.tiles-section .button:hover {
  color: inherit;
}

.tiles-wrap-spring .button-download {
  bottom: 1em;
}

.tiles-wrap-fall .button-download {
  top: 1em;
}

.main-navigation-wrapper {
  background-color: rgba(235, 235, 235, 0.25);
  background-image: linear-gradient(to bottom, #1f1f1f, #2b2b2b 12%, #404040 30%, #4d4d4d 50%, #404040 75%, #1f1f1f);
  position: relative;
  padding-left: 3em;
}

.main-navigation {
  clear: both;
  transition: all .3s;
}

@media all and (min-width: 34.375em) {
  .main-navigation {
    padding: 0;
  }
}

.main-navigation-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.main-navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.main-navigation-wrapper > .main-navigation,
.main-navigation > .nav-menu,
.main-navigation > .nav-menu > .menu-item {
  float: left;
}

.main-navigation > .nav-menu {
  list-style: none;
  min-height: 40px;
}

.main-navigation > .nav-menu > .menu-item {
  font-size: .875em;
  margin-right: 2px;
}

.main-navigation a {
  position: relative;
  display: block;
  padding-top: .8em;
  padding-bottom: .559em;
  line-height: 1.5;
}

[data-okay-overflow] a,
.nav-menu a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a {
  padding-right: 1em;
  padding-left: 1em;
  border-bottom-left-radius: 12px 8px;
  border-bottom-right-radius: 12px 8px;
}

.index .menu-item-index a,
.nav-menu .menu-item-current a {
  pointer-events: none;
  cursor: default;
  color: #5eed8e;
}

.index .menu-item-index a,
.nav-menu .menu-item-current a,
.nav-menu a:hover,
.nav-menu a:active {
  background-color: #1f1f1f;
}

.nav-menu a:hover,
.nav-menu a:active {
  color: white;
}

.nav-menu a span {
  position: relative;
  z-index: 2;
}

[data-okay-toggle] {
  border: none;
  float: right;
  outline-offset: -0.25em;
  margin-left: 1em;
  padding: .4em 1em .35em 1.75em;
  position: relative;
  top: 2px;
  background-color: #999999;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48' height='36' viewBox='0 0 48 36' fill='rgb(41,61,48)'%3E%3Crect x='8' y='11' width='16' height='2' /%3E%3Crect x='8' y='16' width='16' height='2' /%3E%3Crect x='8' y='21' width='16' height='2' /%3E%3C/svg>");
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #ebebeb;
  cursor: pointer;
}

@media all and (min-width: 34.375em) {
  [data-okay-toggle] {
    padding-top: .25em;
    padding-bottom: .3em;
  }
}

[data-okay-toggle]:hover,
[data-okay-toggle][aria-expanded="true"] {
  background-color: #8c8c8c;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48' height='36' viewBox='0 0 48 36' fill='rgb(82, 224, 129)'%3E%3Crect x='8' y='11' width='16' height='2' /%3E%3Crect x='8' y='16' width='16' height='2' /%3E%3Crect x='8' y='21' width='16' height='2' /%3E%3C/svg>");
  color: #5eed8e;
}

[data-okay-toggle][aria-expanded="true"]:hover {
  background-color: gray;
}

[data-okay-toggle][aria-hidden] {
  display: none;
}

[data-okay-toggle] > span,
[data-okay-toggle] > span svg {
  display: inline-block;
  vertical-align: middle;
}

[data-okay-toggle] > span {
  font-size: .75em;
}

[data-okay-toggle][aria-expanded="false"] > .menu-toggle-tablet_up-arrow,
[data-okay-toggle][aria-expanded="false"] > .menu-toggle-tablet_text-less,
[data-okay-toggle][aria-expanded="true"] > .menu-toggle-tablet_down-arrow,
[data-okay-toggle][aria-expanded="true"] > .menu-toggle-tablet_text-more {
  display: none;
}

[data-okay-toggle][aria-expanded="true"] > .menu-toggle-tablet_up-arrow,
[data-okay-toggle][aria-expanded="true"] > .menu-toggle-tablet_text-less {
  display: inline-block;
}

[data-okay-overflow] {
  background-color: rgba(191, 191, 191, 0.75);
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  transform: translateX(0);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.125);
  list-style: none;
  transition: 400ms transform cubic-bezier(0.55, 0, 0.1, 1);
  visibility: visible;
  z-index: 200;
  text-align: left;
  max-width: 100vw;
  min-width: 75px;
}

.index [data-okay-overflow] {
  top: 70px;
}

[data-okay-overflow][aria-hidden] {
  transform: translateX(100%);
  transition: 400ms transform cubic-bezier(0.55, 0, 0.1, 1), 0s 400ms visibility;
  visibility: hidden;
  position: fixed;
  top: 160px;
}

[data-okay-overflow] > li {
  float: none;
}

[data-okay-overflow] > li a {
  background-color: #595959;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #4d4d4d;
  padding-left: 1.25em;
}

[data-okay-overflow] > li a:hover {
  background-color: #2eb85c;
  border-top-color: #2dd264;
  border-bottom-color: #2d864a;
}

[data-okay-overflow] > .menu-item-current a {
  background-color: #1f1f1f;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  pointer-events: none;
  cursor: default;
  color: #5eed8e;
}

[data-okay-overflow] > li a [class*="tab"] {
  display: none;
}

.js-nav-fix {
  float: left;
  height: 0;
  margin-top: -12em;
}

.modals .modal_item h3 {
  font-size: 2em;
}

.modal_inner_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 12em;
}

.modal_inner_list_link-to-pantone {
  margin-top: auto;
  margin-bottom: 2em;
}

.modal_inner_list_link-to-pantone a {
  display: inline-block;
  padding: .25em 1em .33335em;
  border-radius: 3px;
}

.modal_inner_list_link-to-pantone a,
.modal_inner_list_link-to-pantone a:hover {
  color: inherit;
}

.color-white .modal_inner_list_link-to-pantone a {
  background-color: rgba(0, 0, 0, 0.5);
}

.color-white .modal_inner_list_link-to-pantone a:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.color-black .modal_inner_list_link-to-pantone a {
  background-color: rgba(255, 255, 255, 0.5);
}

.color-black .modal_inner_list_link-to-pantone a:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.github-corner:hover svg[style] {
  fill: #666666 !important;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background-color: #1f1f1f;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  font: 100%/1.5 BlinkMacSystemFont, -apple-system, "Segoe UI", Tahoma, sans-serif;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  min-height: 100%;
}

h1,
.section-header-season h2,
.tiles .color-white dt {
  font-weight: 400;
}

.wf-active body,
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h1,
.wf-active .nav-menu .menu-item,
.wf-active [data-okay-overflow] a,
.wf-active .section-header-season h2,
.wf-active .tiles .color-white dt,
.wf-active .modal_close-dismiss,
.wf-active .modal_close,
.wf-active button,
.wf-active [class*="button-"],
.wf-active .tiles-section .button,
.wf-active .colophon {
  font-family: "Source Sans Pro", BlinkMacSystemFont, -apple-system, "Segoe UI", Tahoma, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: -1px;
}

.wf-active .master-palette h2,
.wf-active .master-palette .button-toggle,
.wf-active .tiles dt,
.wf-active .modals .color-black,
.wf-active .modals .color-black h3,
.wf-active .tiles-section > h2,
.wf-active .section-header-season h2 .toggle-tiles-inversed {
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: 0;
}

body,
.page {
  background-color: inherit;
}

h1 {
  font-size: 2.5em;
  color: #f99371;
}

.tagline {
  color: #fff3cc;
}

.index .tiles-section > h2 {
  text-align: right;
  font-size: 1em;
  padding-top: .125em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #ad9048;
  background-color: #f6d155;
  color: #1f1f1f;
  position: relative;
  height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media all and (min-width: 43.125em) {
  .index .tiles-section > h2 {
    font-size: 1.125em;
    padding-right: 3em;
    padding-top: 0.05em;
  }
}

.tiles-section > h2:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 2.25em;
  right: 3em;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40px' viewBox='0 0 40 40'%3E%3Cpolygon fill='rgba(255,255,255,.85)' points='0,0 40,0 20,40'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: fade 20s linear forwards;
}

@media all and (min-width: 43.125em) {
  .tiles-section > h2:after {
    top: 2em;
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

.section-header-season {
  margin-top: 3em;
  text-align: left;
}

.section-header-season h2 {
  display: inline-block;
  font-size: 1.25em;
  color: #ebebeb;
}

.toggle-tiles {
  display: block;
}

.index .toggle-tiles,
[class^="year-"] .section-header-season h2 {
  padding: .3em 1em .35em;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.index .toggle-tiles {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.index .is-in-view .toggle-tiles {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.page {
  min-height: 100vh;
}

[class^="year-"] main {
  min-height: calc(100vh - 90px - 40px - 48px);
}

.index .tiles-wrap {
  padding: .05em 3em 3em;
}

.index .tiles-wrap.is-in-view,
[class*="year-"] .tiles-section > .tiles-wrap {
  padding: .05em 3em 6em;
  position: relative;
}

[class*="year-"] .tiles-section > .tiles-wrap {
  min-height: calc(calc(100vh - 90px - 40px - 48px) / 2);
}

[class^="year-"] .section-header-season h2,
.index .toggle-tiles,
.site-header,
.site-footer,
.tiles {
  background-color: #1f1f1f;
}

.index .toggle-tiles:hover {
  background-color: rgba(31, 31, 31, 0.85);
}

.index .toggle-tiles-inversed {
  background-color: #ebebeb;
}

.index .toggle-tiles-inversed:hover {
  background-color: rgba(235, 235, 235, 0.8);
}

.site-header,
.site-footer {
  color: #fff;
}

.site-header {
  min-height: 90px;
}

.site-footer {
  min-height: 48px;
}

.site-footer {
  padding-top: .5em;
}

.tiles,
.modals,
.modal_inner_list {
  list-style: none;
}

a {
  color: #5eed8e;
  text-decoration: none;
  transition: all .3s;
}

code {
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  font-size: .875em;
}

.tiles {
  border-bottom-right-radius: 5px;
}

.tiles li {
  position: relative;
  display: inline-block;
}

.index .tiles li:hover {
  cursor: pointer;
}

.index .tiles li,
.tiles .tile_link {
  display: block;
  color: inherit;
  padding: 1.5em 1em;
}

.tiles dt {
  font-size: 1em;
}

.has-index-script-loaded .tiles {
  display: none;
  opacity: 0;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.has-index-script-loaded .is-active.tiles {
  display: block;
  opacity: 1;
  transform: scale(1);
  transform-origin: top;
  animation: animBlock .3s ease-in-out;
}

@keyframes animBlock {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: -ms-grid;
    display: grid;
    opacity: 0;
    transform: scale(1, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modals-section h2 {
  display: none;
}

.modal_item {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.modal_item,
.modal_item.is-hidden:target {
  opacity: 0;
  z-index: -1;
}

.modal_item:target {
  opacity: 1;
  z-index: 1;
}

.modal_inner {
  width: 40vmax;
  min-height: 40vmin;
  margin: 0 auto;
  padding: 3em 1em;
  position: relative;
}

.modal_inner,
.modal_close {
  border-radius: 5px;
}

.modal_close {
  position: absolute;
  display: block;
  color: white;
}

.modal_close-x {
  top: 0;
  right: .5rem;
  padding: 0 .6rem;
}

.modal_close-dismiss {
  bottom: 1rem;
  left: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: .25em .5em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_close-dismiss:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_item > .modal_close {
  font-size: 2em;
}

.modal_inner > .modal_close {
  font-size: 1.25em;
}

.modal_inner > .modal_close-x {
  top: .5rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.variables-selection {
  position: fixed;
  top: 212px;
  right: 0;
  padding-left: 2em;
  min-width: 302px;
  transition: all .3s ease-in-out;
}

.is-offscreen.variables-selection {
  right: 2em;
  transform: translateX(100%);
}

.variables-selection_list {
  list-style: none;
  text-align: left;
  position: relative;
}

.variables-selection_list .tile {
  padding: .25em 1em;
}

.variables-selection .toggle-view,
.variables-selection [class*="toggle-view-image"] {
  display: block;
  width: 2em;
  height: 100%;
  border-top-left-radius: .4em .5em;
  border-bottom-left-radius: .4em .5em;
}

.variables-selection .toggle-view {
  position: absolute;
  top: 0;
  left: -2em;
  bottom: 0;
  background-color: rgba(31, 31, 31, 0.75);
  cursor: pointer;
  pointer-events: all;
}

.variables-selection .toggle-view:hover {
  background-color: rgba(31, 31, 31, 0.85);
}

.variables-selection .toggle-view-image-collapse {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,24 18,12 0,0'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.variables-selection.is-offscreen .toggle-view-image-collapse {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12px' viewBox='0 0 18 24'%3E%3Cpolygon fill='rgb(255,255,255)' points='0,12 18,0 18,24'/%3E%3C/svg%3E");
}

.tiles .id,
.variables-selection_list .hd,
.variables-selection .toggle-view-image-expand,
.initially-hidden {
  display: none;
}

.variables-selection_list .id,
.variables-selection_list .hex {
  display: inline-block;
  vertical-align: middle;
}

.variables-selection_list .initially-hidden.semicolon {
  display: inline;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .tiles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(9em, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  }
  .has-index-script-loaded .is-active.tiles {
    display: -ms-grid;
    display: grid;
    animation: animGrid .3s ease-in-out;
  }
  @keyframes animGrid {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: -ms-grid;
      display: grid;
      opacity: 0;
      transform: scale(1, 0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
/*# sourceMappingURL=style.css.map */