$base00: hsl(197, 0%, 20%);
$base01: hsl(197, 0%, 25%);
$base02: hsl(198, 0%, 45%);
$base03: hsl(198, 0%, 50%);
$base04: hsl(198, 0%, 59%);
$base05: hsl(199, 0%, 65%);
$base06: hsl(197, 0%, 91%);
$base07: hsl(198, 0%, 98%);
$base08: hsl(4, 57%, 50%);
$base09: hsl(17, 55%, 43%);
$base0A: hsl(43, 41%, 48%);
$base0B: hsl(100, 51%, 38%);
$base0C: hsl(164, 100%, 29%);;
$base0D: hsl(208, 60%, 54%);
$base0E: hsl(214, 47%, 52%);
$base0F: hsl(316, 44%, 47%);

$red:     $base08;
$orange:  $base09;
$yellow:  $base0A;
$green:   $base0B;
$cyan:    $base0C;
$blue:    $base0D;
$violet:  $base0E;
$magenta: $base0F;

$yellow-orange: mix($yellow,$orange,50%);
$orange-red: mix($orange,$red,50%);
$red-magenta: mix($red,$magenta,50%);
$magenta-violet: mix($magenta,$violet,50%);
$violet-blue: mix($violet,$blue,50%);
$blue-cyan: mix($blue,$cyan,50%);
$cyan-green: mix($cyan,$green,50%);
$green-yellow: mix($green,$yellow,50%);

$dark01: adjust-color($base00,$lightness:-5%);
$dark02: $base00;
$dark03: $base01;
$dark04: adjust-color($base01,$lightness:5%);
$dark05: adjust-color($base01,$lightness:10%);
$dark06: adjust-color($base01,$lightness:15%);
$dark07: adjust-color($base01,$lightness:20%);
$dark08: adjust-color($base01,$lightness:25%);

$light08: adjust-color($base01,$lightness:30%);
$light07: adjust-color($base01,$lightness:35%);
$light06: adjust-color($base01,$lightness:40%);
$light05: adjust-color($base01,$lightness:45%);
$light04: adjust-color($base01,$lightness:50%);
$light03: adjust-color($base01,$lightness:55%);
$light02: adjust-color($base01,$lightness:60%);
$light01: adjust-color($base01,$lightness:65%);

$dark_yellow          : adjust-color($yellow,$lightness:-25%);
$dark_yellow-orange   : adjust-color($yellow-orange,$lightness:-23%);
$dark_orange          : adjust-color($orange,$lightness:-22%);
$dark_orange-red      : adjust-color($orange-red,$lightness:-22%);
$dark_red             : adjust-color($red,$lightness:-22%);
$dark_red-magenta     : adjust-color($red-magenta,$lightness:-23%);
$dark_magenta         : adjust-color($magenta,$lightness:-23%);
$dark_magenta-violet  : adjust-color($magenta-violet,$lightness:-26%);
$dark_violet          : adjust-color($violet,$lightness:-26%);
$dark_violet-blue     : adjust-color($violet-blue,$lightness:-30%);
$dark_blue            : adjust-color($blue,$lightness:-30%);
$dark_blue-cyan       : adjust-color($blue-cyan,$lightness:-30%);
$dark_cyan            : adjust-color($cyan,$lightness:-25%);
$dark_cyan-green      : adjust-color($cyan-green,$lightness:-28%);
$dark_green           : adjust-color($green,$lightness:-25%);
$dark_green-yellow   : adjust-color($green-yellow,$lightness: -20%);

$light_yellow         : adjust-color($yellow,$lightness:30%);
$light_orange         : adjust-color($orange,$lightness:30%);
$light_yellow-orange  : mix($light_yellow,$light_orange,50%);
$light_red            : adjust-color($red,$lightness:20%);
$light_orange-red     : mix($light_orange,$light_red,50%);
$light_magenta        : adjust-color($magenta,$lightness:20%);
$light_red-magenta    : mix($light_red,$light_magenta,50%);
$light_violet         : adjust-color($violet,$lightness:10%);
$light_magenta-violet : mix($light_magenta,$light_violet,50%);
$light_blue           : adjust-color($blue,$lightness:20%);
$light_violet-blue    : mix($light_violet,$light_blue,50%);
$light_cyan           : adjust-color($cyan,$lightness:20%);
$light_blue-cyan      : mix($light_blue,$light_cyan,50%);
$light_green          : adjust-color($green,$lightness:20%);
$light_cyan-green     : mix($light_cyan,$light_green,50%);
$light_green-yellow   : adjust-color($green-yellow,$lightness:20%);

$purple: $violet-blue;
$dark_purple: $dark_violet-blue;
$light_purple: $light_violet-blue;
$violet-blue-dark: adjust-color($violet-blue, $saturation: -20%, $lightness: -10%);
$ui-bg-dark: $base01;
$ui-bg-medium: adjust-color($dark03,$lightness:17%);
$bg-blue: adjust-color($light_blue,$saturation: -66%);
$lighter_yellow: adjust-color($light_yellow, $saturation: 20%, $lightness: 10%);
$lighter_red: adjust-color($red,$lightness:30%);
$lighter_blue-cyan: adjust-color($light_blue-cyan, $lightness: 20%);
$lighter_cyan-green: adjust-color($light_cyan-green,$saturation:-20%,$lightness: 15%);
$lighter_cyan-green2: adjust-color($light_cyan-green, $lightness: 10%);
$lighter_cyan: adjust-color($light_cyan,$saturation:-20%,$lightness: 22%);
$khaki: #f0e68c;
$sand: adjust-color($yellow,$saturation:-5%,$lightness:30%);
$lighter_sand: adjust-color($sand,$lightness:9%);
$broken-white: adjust-color($base07, $saturation: -38%, $lightness: 1%);
$light: adjust-color($light01, $lightness: 5%); 
$site-color-dark: hsl(0,0%,12%);
$site-color-light: hsl(0,0%,92%);
$link-color: hsl(140, 80%, 65%);
